[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.pacificclimate.org/simple"
verify_ssl = true
name = "pcic"

[packages]
python-dateutil = "*"
cdo = "==1.5.3"
nchelpers = "==5.5.6"
Pint = "*"
PyYAML = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.8"

[packages.e1839a8]
path = "."
editable = true
