[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.pacificclimate.org/simple"
verify_ssl = true
name = "pcic"

[packages]
python-dateutil = "*"
cdo = "==1.5.3"
nchelpers = "==5.5.8"
Pint = "*"
PyYAML = "*"
dp = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-mock = "*"
black = "==21.7b0"

[requires]
python_version = "3.8"
